.colonne_droite {
   background-color: #dae6fd;
}

.formation {
   background-color: white;
}

.mail {
   text-decoration: none;
   color: black;
}

.mail:hover {
   text-decoration: underline;
}

.adresse {
   text-decoration: none;
   color: black;
}

.adresse:hover {
   text-decoration: underline;
}

.tel {
   text-decoration: none;
   color: black;
}

.tel:hover {
   text-decoration: underline;
}

#maPhoto {
   border-color: #dae6fd;
   border-width: 10px;
   border-style: solid;
   width: 50%;
}


* {
   font-family: Domine;
}


